@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#logo{
    border-radius: 50%;
    width: 40%;
}

ul > li > a{
    margin-right: 60px;
}

.main{
    position: relative;
}

.card {
    position: absolute;
    width: 44%;
    left: 28%;
    top: 19.5%;
    background-color: #c70426;
    box-shadow: none;
    /* border: 2px solid red; */
    border-radius: none;
}
.card-body{
    text-align: center;
    margin: auto;
    width: 100%;
}
.card-title{
    padding: .5vw;
    background-color: #fff;
    width: 11vw;
    margin: auto;
    font-size: 1vw;
}
.btn{
    font-weight:500;
    font-size: 1.5vw;
}

.secret-sale{
    font-size: 5vw;
    font-weight: 400;
}
.online-sale{
    font-size: 3vw;
    font-weight: 400;
}
.first-poster{
    width: 100%;
}

.age-shop{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.shop-by-age{
    font-size: 60px;
    color: rgb(74, 156, 243);
}

.category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    margin: 20px 0;
    text-align: center;
    padding: 0 15px;
}

.category-img > img{
    width: 100%;
    margin-bottom: 12px;
}

.category-name{
    color: black;
    text-decoration: none;
    /* border: 2px solid; */
}
.category-name:hover{
   margin-bottom: 2px;
   border-bottom:2px solid black ;
}

.heading{
    font-size: 50px;
    font-weight: 500;
}

.center{
    text-align: center;
}
.tn {
    font-size: 25px;
}

.trending{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding: 15px;
}
.trending > div{
    /* border: 2px solid; */
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.trending > div > img{
    width: 70%;
    margin-bottom: 10px;
}

hr{
    text-decoration: dashed;
}

.shop_share > h1{
    color: rgb(74, 156, 243)
}
.shop_share > button{
    background-color: rgb(74, 156, 243);
    color: #ffff;
    padding: 7px 30px;
    border: none;
}

.img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}
.img >div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}
.img > div > i{
    position: absolute;
    font-size: 60px;
    color: black;   
}

.img > div:hover{
    display: flex;
}
.img >div>img:hover{
    opacity: .3;
    display:block;
}
.img > div > img{
    width: 100%;
}
.img > image{
    width: 100%;
}

.f-main{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    background-color: rgb(240, 249, 249);
}
.left-div{
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

.right-div{
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 25%, 75%;
}
/* footer section  */

#footer{
    padding: 10px 20px;
    background-color: rgb(240, 249, 249);
}

.support,.about-us{
    /* border: 1px solid; */
    padding: 20px;
}
.support h6,.about-us h6{
    font-weight: 600;
}
.support a,.about-us a{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 3px;
}

.support a:hover,.about-us a:hover{
    border-bottom-style: solid;
    padding: 3px;
    margin-left: 5px;
    width: fit-content;
}
.bottom{
    display: block;
    /* border: 2px solid; */
    text-align: end;
}

.text p{
    font-size: 12px;
}
.bottom p{
    font-size: 12px;
    line-height:0;
    padding-top: 10px;
}